@mixin imageMask ($imgName) {
  background-image: url("/images/#{$imgName}");
  background-image: linear-gradient(0deg, rgba($primary, .7), rgba($primary, .7)), url("/images/#{$imgName}");
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin clampText($rowCount) {
  display: -webkit-box;
  -webkit-line-clamp: $rowCount;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}