include  ../../data/meta

<!DOCTYPE html>
html(lang="en")
    head
        // Meta Tags
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="author" content=`${metaAuthor}`)
        // Page Title
        title #{siteTitle}
        // Bootstrap core CSS
        link(href="src/styles/libs/bootstrap.min.css", rel="stylesheet")
    body
        block content


