.section {
  width: 100%;
  flex-direction: column;

  &--sky {
    background: rgba($sky, .67);
  }

  &--pb {
    padding-bottom: 100px;

    @media ($desktop) {
      padding-bottom: 90px;
    }
    @media ($tablet) {
      padding-bottom: 80px;
    }
    @media ($phone) {
      padding-bottom: 70px;
    }
  }

  &--pad {
    padding-bottom: 100px;
    padding-top: 100px;

    @media ($desktop) {
      padding-bottom: 90px;
      padding-top: 90px;
    }
    @media ($tablet) {
      padding-bottom: 80px;
      padding-top: 80px;
    }
    @media ($phone) {
      padding-bottom: 70px;
      padding-top: 70px;
    }
  }

  &--mb {
    margin-bottom: 100px;

    @media ($desktop) {
      margin-bottom: 90px;
    }
    @media ($tablet) {
      margin-bottom: 80px;
    }
    @media ($phone) {
      margin-bottom: 70px;
    }
  }

  &__titleBlk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba($text-black, .05);
    margin-bottom: 40px;
    flex: 1;

    @media ($desktop) {
      padding-top: 40px;
      padding-bottom: 15px;
      margin-bottom: 30px;
    }
    @media ($tablet) {
      padding-top: 30px;
      padding-bottom: 17px;
    }

    &--combined {
      padding-top: 30px;
      @media ($desktop) {
        padding-top: 20px;
      }
      @media ($tablet) {
        padding-top: 30px;
      }
    }
  }

  &__link {
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.375rem;
    text-decoration-line: underline;
    color: $primary;

    @media ($phone) {
      display: none;
    }

    &:after {
      display: inline-block;
      content: '';
      background-image: url("/icons/link-arrow-icon.svg");
      background-size: 16px 9px;
      height: 9px;
      width: 16px;
      margin-left: 10px;
    }

    &--rotated {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.blk {
  &--pb {
    padding-bottom: 70px;

    @media ($desktop) {
      padding-bottom: 60px;
    }
    @media ($tablet) {
      padding-bottom: 50px;
    }
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  &--flex {
    display: flex;

    &-column {
      flex-direction: column;
    }

    &-center {
      align-items: center;
      justify-content: center;
    }

    &-vcenter {
      align-items: center;
    }
  }
}