h1 {
  font-size: 2.6875rem; //43
  line-height: 130%;
}

h2 {
  font-size: 2rem; //32
  line-height: 130%;
}

h3 {
  font-size: 1.875rem; //30
  line-height: 2.813rem;
}

h4 {
  font-size: 1.188rem; //19
  line-height: 130%;
}

h5 {
  font-size: 1.188rem; //19
  line-height: 130%;
}

@media ($desktop) {
  h1 {
    font-size: 2.125rem; //34
    line-height: 150%;
  }
  h2 {
    font-size: 1.875rem; //30
    line-height: 130%;
  }
  h3 {
    font-size: 1.563rem; //25
  }
  h4 {
    font-size: 1.438rem; //23
  }
}

@media ($tablet) {
  h1 {
    font-size: 1.6875rem; //27
    line-height: 150%;
  }
  h2 {
    font-size: 1.563rem; //25
    line-height: 130%;
  }
  h3 {
    font-size: 1.438rem; //23
    line-height: 130%;
  }
  h4 {
    font-size: 1.188rem; //19
  }
  h5 {
    font-size: 1rem; //16
  }
}

@media ($phone) {
  h1 {
    font-size: 1.3125rem; //21
  }
  h4 {
    font-size: 1.125rem; //18
  }
  h5 {
    font-size: 0.875rem;//14
  }
}


.title--md {
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 120%;

  @media ($tablet) {
    font-size: 1.1875rem;
  }
  @media ($phone) {
    font-size: 1.125rem;
  }
}

.text__date {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 150%;
  color: rgba($text-black, .5);

  @media ($tablet) {
    font-size: 1rem;
  }
  @media ($phone) {
    font-size: 0.875rem;
  }
}