block variables
    -
        const metaAuthor = "Alex Dolid";
        const siteTitle = "CV-Alex-Dolid"
        const navList = [
            {
                className: "home",
                href: "#home",
                imgName: "Screenshot_1"
            },
            {
                className: "about",
                href: "#about",
                imgName: "Screenshot_2"
            },
            {
                className: "hard-skills",
                href: "#hard-skills",
                imgName: "Screenshot_3"
            },
            {
                className: "portfolio",
                href: "#portfolio",
                imgName: "Screenshot_4"
            },
            {
                className: "education",
                href: "#education",
                imgName: "Screenshot_5"
            },
            {
                className: "soft-skills",
                href: "#soft-skills",
                imgName: "Screenshot_6"
            }
        ];
