block hero
    -
        const presentationText = "I Am Alexandr Dolid";
        const professionTitle = "Front-end developer";
        const professionLvl = "Junior+/Middle Front-end developer";
        const email = "dolid.sasha@gmail.com";
        const tel = "+380971130285";
        const location = "Kyiv, Ukraine";
        const telegram = "alex_dolid";
