block socialLinks
    -
        const socialLinks = [
            {
                link: "https://github.com/Alex-Dolid",
                label: "github",
                classIcon: "fab fa-github"
            },
            {
                link: "https://gitlab.com/Alex-Dolid",
                label: "gitlab",
                classIcon: "fab fa-gitlab"
            },
            {
                link: "https://www.linkedin.com/in/alex-dolid/",
                label: "linkedin",
                classIcon: "fab fa-linkedin-in"
            },
            {
                link: "https://www.instagram.com/alex_dolid",
                label: "instagram",
                classIcon: "fab fa-instagram"
            },
            {
                link: "https://www.pinterest.com/dolidsasha/",
                label: "pinterest",
                classIcon: "fab fa-pinterest-p"
            },
        ];
